<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">Isho's Gelatos & Sorbetes</h1>
            <h2 class="text-3xl font-bold">Tradición desde 2021🍦</h2>
            <p class="py-6">
                Helados artesanales hechos con amor en El Salvador
            </p>
            <button class="btn btn-primary">Ver Menú</button>
        </div>
    </div>
</div>
