---
import Layout from "../layouts/Layout.astro";
import HomeCard from "../components/astro/HomeCard.astro";
---

<Layout title="Isho's Gelatos & Sorbetes - El Salvador">
    <div class="flex justify-center items-center">
        <HomeCard />
    </div>
</Layout>
