---
import type { LayoutProps } from "../types";
import "../styles/global.css";
import Navbar from "../components/astro/Navbar.astro";

interface Props extends LayoutProps {}

const { title } = Astro.props as Props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Isho's Gelatos & Sorbetes - Helados artesanales en El Salvador"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        />
        <title>{title}</title>
        <link rel="icon" href="/favicon.png" type="image/png" />
    </head>
    <body>
        <Navbar />
        <slot />
    </body>
</html>
