---
import MenuLayout from "../../layouts/MenuLayout.astro";
import ProductGrid from "../../components/astro/ProductGrid.astro";
import CategoryTabs from "../../components/astro/CategoryTabs.astro";
import configData from "../../content/config.json";
import { getProductsByCategoryFromCollection } from "../../lib/utils/content-helpers";

const products = await getProductsByCategoryFromCollection('gelatos');
---

<MenuLayout title={`Gelatos - ${configData.store.name}`}>
    <div class="mb-8">
        <h1 class="text-4xl font-bold mb-4">Gelatos</h1>
        <p class="text-lg text-base-content/70">
            Nuestros gelatos artesanales cremosos y deliciosos
        </p>
    </div>

    <CategoryTabs currentCategory="gelatos" />

    <ProductGrid
        products={products}
        currencySymbol={configData.settings.currencySymbol}
    />
</MenuLayout>
