---
import MenuLayout from "../../layouts/MenuLayout.astro";
import ProductGrid from "../../components/astro/ProductGrid.astro";
import CategoryTabs from "../../components/astro/CategoryTabs.astro";
import configData from "../../content/config.json";
import { getAllProductsFromCollection } from "../../lib/utils/content-helpers";

const allProducts = await getAllProductsFromCollection();
---

<MenuLayout title={`Menú - ${configData.store.name}`}>
    <div class="mb-8">
        <h1 class="text-4xl font-bold mb-4">Nuestro Menú</h1>
        <p class="text-lg text-base-content/70">
            {configData.store.tagline}
        </p>
    </div>

    <CategoryTabs currentCategory="all" />

    <ProductGrid
        products={allProducts}
        currencySymbol={configData.settings.currencySymbol}
    />
</MenuLayout>
